.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 212, 212);
}

.registerTitle {
    font-size: 50px;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label {
    margin: 10px 0;
}

.registerInput {
    padding: 10px;
    background: white;
    border: none;
}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.registerLoginButton {
    margin-top: 50px;
    background-color: teal;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}